/*Font/General Styles**********************/


h1{
	color: rgb(2, 132, 130);
}

h2{
	color: #ffd700;
}

.name {
	color: #FF0000;
}

nav {
	list-style: none;
	background-color: #808080;
}

nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

nav a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

p,header{
	text-align: center;
	width: 50%;
}

footer {
	background-color: #808080;
	text-align: center;
	clear: both;
}


/*Card Board Styles**********************/

.board {
	display:inline-block;
	height: 50%;
	width: 50%;
	float: left;
	margin: 4% 9%;
	margin-bottom: 1%;
	clear: both;
}

.card {
	display: inline-block;
	background-color: yellow;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin: 0px 50px 50px 0;
}

img {
	height: 200px;
	width: 150px;
}

.total-score{
	display:inline-block;
	margin-bottom: 8%;
	font-size: 2rem;
	font-family: Garamond, sans-serif;

}

#score {
	font-weight: bold;
	color: rgb(2, 132, 130);
}







